apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app1
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app1
  template:
    metadata:
      labels:
        app: my-app1
    spec:
      imagePullSecrets:
        - name: ghcr-creds   
      containers:
        - name: my-app1
          image: ghcr.io/durgesh191/kubernetes-cicd:latest
          ports:
            - containerPort: 80
