apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app1
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app1
  template:
    metadata:
      labels:
        app: my-app1
    spec:
      containers:
        - name: my-app1
          image: ghcr.io/durgesh191/my-app1:latest
          ports:
            - comtainerPort: 80
